.navbar {
  background-image: url('../images/imgcrp.jpg');
  background-size: cover;
  background-position: bottom;
  height: 50px;
  background-color: #3aafa9;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  flex: 1;
  text-align: center;
}

.logo {
  text-align: left;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.navItems {
  display: flex;
  align-items: center;
}

.navButton {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #C5CBE3;
  color: black;
  margin-left: 10px;
}

.username {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
